# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2461c10958ea6dec6ceb50b2b4643bcbbba1e2df0775f64db2301cd9e4ec9beac6ad0f3b365d50e289bed7ba604690a97c4b350ef85c7c8e253c88f9a5a5e3d3

test:
  secret_key_base: 2461c10958ea6dec6ceb50b2b4643bcbbba1e2df0775f64db2301cd9e4ec9beac6ad0f3b365d50e289bed7ba604690a97c4b350ef85c7c8e253c88f9a5a5e3d3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base:
